<main>
    <!-- Hero section -->
    <section id="hero">
        <div class="container pt-5 my-5">
            <div class="row">
                <div class="col-12 col-xxl-7 col-xl-7 col-lg-7 col-md-7 col-sm-12 d-flex flex-column text-left">
                    <div class="row">
                        <div class="col-12">
                                <h1><%= title %></h1>
                        </div>
                        <div class="col-12">
                                <p><%= teaser %></p>
                        </div>
                    </div>
    
                </div>
            </div>
        </div>
    </section>
    
    <!-- Main text section -->
    <section id="post">
        <div class="container pb-5 mb-5">
            <div class="row row-cols-12 g-4">
                <div class="d-flex col justify-content-end">
                    <a href="/create?id=<%= id %>"><button class="btn btn-primary">Edit</button></a>
                </div>
            </div>
            <div class="row row-cols-12 g-4 py-5">
                <div class="col">
                    <p><%= text %></p>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact section -->
    <%- include("contact_section.ejs") %>
</main>